{
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-tailwindcss-canonical-classes"
  ],
  "tailwindStylesheet": "./src/index.css",
  "tailwindcssCanonicalStylesheet": "./src/index.css",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@api",
    "@(assets|components|constants|helpers|pages|providers|store|temp|utils|/)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
