@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

html,
body,
#root {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  @apply bg-[#0a0a0a] text-white box-border;
}

#root {
  display: flex;
}

#root .react-calendar {
  @apply bg-transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
