@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 77px;
  --secondary-bg-color: #1a1a1a;
  --overlay-color: #1a1a1af0;

  @media (width <= 768px) {
    --header-height: 57px;
  }
}

body {
  min-height: 100vh;
}

html,
body,
#root {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  @apply bg-[#0a0a0a] text-white box-border;
}

#root {
  display: flex;
}

#root .react-calendar {
  @apply bg-transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
}

.horizontal-divider {
  p {
    white-space: nowrap;
    text-transform: uppercase;
  }

  &:not(.text) {
    height: 1px;
    background: var(--secondary-bg-color);
    width: 100%;
  }

  &:is(.text) {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #2e2e2e;

    &::after,
    &::before {
      content: '';
      align-self: center;
      background: var(--secondary-bg-color);
      height: 1px;
      width: 100%;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
